<div class="wrapper">
  <img class="responsive" src="images/holler.gif"/>
</div>
<div class="wrapper">
  <embed src="//player.vimeo.com/video/43287356?byline=0&amp;portrait=0&amp;autoplay=5" type="text/html" preload="auto" autostart="true" loop="true" class="beats"></embed>
</div>
