.responsive {
  background-image: url('images/funky.gif') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
  top:  0;
  left: 0;
  position: fixed;
}
.beats {
  visibility: hidden;
}
